<footer class="main-footer mt-5 pt-4 text-light">
<div class="container">
  <div class="row">
    <div class="col">
      <h3>Entre em Contato</h3>
      <address>
        +55 61 98153-6519
        <br/>
        <a href="mailto:evandro.avellar@gmail.com" class="text-light">evandro.avellar@gmail.com</a>
      </address>
    </div>
  </div>
</div>
<div class="rights pb-4">
  <div class="container">
    <div class="row">
      <div class="col">
        {% now 'Y' %} Evandro Avellar. Todos os direitos reservados.
      </div>
    </div>
  </div>
</div>
</footer>
